[submodule "scan_context_loop_detector/thirdparty/scancontext"]
	path = modules/mapping/scan_context_loop_detector/thirdparty/scancontext
	url = https://github.com/koide3/scancontext.git
[submodule "dbow_loop_detector/thirdparty/DBoW2"]
	path = dbow_loop_detector/thirdparty/DBoW2
	url = https://github.com/dorian3d/DBoW2.git
[submodule "dbow_loop_detector/thirdparty/DBoW3"]
	path = dbow_loop_detector/thirdparty/DBoW3
	url = https://github.com/rmsalinas/DBow3.git
[submodule "orb_slam_frontend/thirdparty/ORB_SLAM3"]
	path = modules/odometry/orb_slam_frontend/thirdparty/ORB_SLAM3
	url = https://github.com/koide3/ORB_SLAM3.git
